<div class="footer-container">
  <div fxLayout="row" fxLayoutAlign="space-between start"
  fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayout.sm="column" fxLayoutAlign.sm="start center">
    <div class="footer-logo" fxFlex="20">
      <a href="/#Home">
        <img src="/assets/images/footer-logo.png" alt="Facebook">
      </a>
    </div>
    <div fxFlex="60">
      <div class="links">
        <a href="#Home">Home</a>
        |
        <a href="#Products">Products</a>
        |
        <a href="#Reviews">Reviews</a>
        |
        <a href="#AboutUs">About Us</a>
        |
        <a href="#ContactUs">ContactUs</a>
      </div>
      <div class="connect">
        CONNECT WITH US
        <div>
          <img class="connect-links" src="/assets/images/fb.png" alt="Facebook">
          <img class="connect-links" src="/assets/images/yt.png" alt="YouTube">
        </div>
      </div>
    </div>
    <div class="email" fxFlex="20">
      <div>
        C.E.C. FOODVENTURES
      </div>
      <div>
          <a  href="mailto:cesar@cesarios.biz?Subject=Cesarios.Biz%20Inquiry" target="_top">cesar@cesarios.biz</a>        
      </div>
    </div>
  </div>
  <div class="reserved">© 2017. All Rights Reserved</div>
</div>