
<div class="contact-us-container ">
  <h1 class="text-center">
    WHERE IS CESARIO'S?
  </h1>
  <p>We’ll send information of where you can find Cesario’s near you!</p>
  <div>
    <form action="POST">
      <div>
        <input type="text" placeholder="Name">
      </div>
      <br>
      <div>
        <input type="text" placeholder="Email">
      </div>
      <br>
      <div>
        <textarea rows="4" placeholder="Message"></textarea>
      </div>
      <br>
      <div>
        <button type="button"  (click)="sendEmail()">Submit</button>
      </div>
    </form>

  </div>
</div>
