<div class="about-us-container">
  <h1 class="text-center">
    ABOUT US
  </h1>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayout.sm="column"
    fxLayoutAlign.sm="start center">
    <div class="bg-cesar" fxFlex="50">
      <img src="/assets/images/cesar.png" alt="Cesar Crisostomo">
    </div>
    <div class="bg-body3" fxFlex="50">
      <p>C.E.C. Food Ventures, launched in 2012, has always drawn inspiration from its goal in delivering satisfyingly meaningful
        meals and snacks to its customers. It is dedicated in bringing its best by using selected quality ingredients that
        are naturally grown in Cagayan Valley, Philippines.
      </p>
      <p>
        C.E.C. Food Ventures, with Cesario’s as its umbrella brand, started with Cesario’s Chili Garlic Oil, a favorite family condiment
        served to spice up simple home-cooked meals. With its unique texture and taste among others of its kind, Cesario’s
        eventually gained popularity. The many positive feedbacks inspired the company to develop it and introduce new products.
      </p>     
      <p>
        Cesario’s is named after its founder and proprietor, Cesar E. Crisostomo. Cesar, as fondly called by friends, used to be
        employed as Senior Trade and Industry Specialist of the Department of Trade and Industry Regional Office 02. He retired
        after 18 years in government service to pursue his passion in food processing and packaging business. His wide experience
        and knowledge in the food sector have proven to be very valuable in developing his own brand and product.
      </p>
    </div>

  </div>
</div>