.about-us-container{
    padding: 50px;
}

.bg-body3{
    background-image: url("../../assets/images/bg-body3.jpg");
    background-color: #cccccc;  
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
    width: 100%;     
    height: 100%;	     
    padding: 20px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
}

.bg-cesar{
    background-image: url("../../assets/images/cesar.png");
    background-color: #ccc;  
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background-size: 100% 100%; */
    width: 100%;          
    height: 273px;	    
}

h1 {
    padding-bottom: 30px;
}