
.banner{
    background-color: #cccccc;  
    background-repeat: no-repeat;
    background-position: 50% 0;    
}

@media (min-width: 737px) {
    .banner{
        background-image: url("../../assets/images/banner.jpg");
        height: 678px;   
    }
}

@media (max-width: 736px) {
    .banner{
        background-image: url("../../assets/images/banner-736.jpg");
        height: 736px;   
    }
}
