<div class="bg-body1" fxLayout="row" fxLayoutAlign="center start" 
fxLayout.xs="column" fxLayoutAlign.xs="start center"
>
  <div class="content-padding text-center" fxFlex="50">
    <img class="margin-auto" src="/assets/images/chili-garlic-oil.png" alt="chili-garlic-oil">
  </div>
  <div class="content-padding" fxFlex="50">
    <h1>CHILI GARLIC OIL</h1>
    <p>Notorious for being the founder’s favorite, the original Chili Garlic Oil was Cesario’s very first product. </p>
    <p>
      Widely popular for being the perfect blend of garlicky goodness and level of spice, the Chili Garlic Oil is your all-around
      condiment that will make you look forward to every meal.
    </p>
  </div>
</div>
<div class="bg-body2" fxLayout="row" fxLayoutAlign="center start"
fxLayout.xs="column" fxLayoutAlign.xs="start center"
>
  <div class="content-padding" fxFlex="50">
    <h1>EXTRA-HOT CHILI OIL</h1>
    <p>An extra spicy version of the original with a little less garlic flavor, this product is perfect ofr thrill seekers who
      crave that burning smokey chili taste.
    </p>
    <p>
      Smooth and spicy, the Extra Hot Chili Oil is ideal as a dip, side, or use as an ingredient.
    </p>
  </div>
  <div class="content-padding text-center" fxFlex="50">
    <img class="margin-auto" src="/assets/images/chili-oil.png" alt="chili-garlic-oil">
  </div>
</div>
<div class="bg-body1" fxLayout="row" fxLayoutAlign="center start"
fxLayout.xs="column" fxLayoutAlign.xs="start center"
>
  <div class="content-padding text-center" fxFlex="50">
    <img class="margin-auto" src="/assets/images/crispy-garlic-bits-in-oil.png" alt="chili-garlic-oil">
  </div>
  <div class="content-padding" fxFlex="50">
    <h1>CRISPY GARLIC BITS IN OIL</h1>
    <p>For those who prefer non-spicy food, the Chili Garlic Bits in Oil is a wonderful substitute.
    </p>
    <p>
      Diced finely and fried to perfection, this condiment is perfect for adding that extra garlicky kick to your daily dishes.
    </p>
  </div>
</div>
<div class="bg-body2" fxLayout="row" fxLayoutAlign="center start"
fxLayout.xs="column" fxLayoutAlign.xs="start center"
>
  <div class="content-padding" fxFlex="50">
    <h1>CHICKCHARON</h1>
    <p>Delectable chicken skin in a variety of mouth-watering flavors, Chickcharon is one of Cesario’s bestsellers.
    </p>
    <p>
      Known for its extra-crispy texture and depth of flavor, it is unlike any chicken skin you have ever tasted. It also comes
      in a resealable bag for a longer shelf-life!
    </p>
  </div>
  <div class="content-padding text-center" fxFlex="50">
    <img class="margin-auto" src="/assets/images/chick-charon.png" alt="chili-garlic-oil">
  </div>
</div>
<div class="bg-body1" fxLayout="row" fxLayoutAlign="center start"
fxLayout.xs="column" fxLayoutAlign.xs="start center"
>
  <div class="content-padding text-center" fxFlex="50">
    <img class="margin-auto" src="/assets/images/cesarios-longganisa.png" alt="chili-garlic-oil">
  </div>
  <div class="content-padding" fxFlex="50">
    <h1>CESARIO’s LONGGANISA</h1>
    <p>Cesario's premium "Tuguegarao Longganisa" The Original Taste of the famous garlic longganisa of Tuguegaro City prepared
      in the traditional way.
    </p>
    <p>
      No Extenters, Guaranteed Premium Meat!
    </p>
  </div>
</div>