<div class="reviews-container bg-body2 text-center">
  <h1>
    CUSTOMER REVIEWS
  </h1>
  <div fxLayoutAlign="space-between center">
    <div>

    </div>
    <div>
      <span>
        Myla Araullo
      </span>
      <p>
        "Went on vacation in Tuguegarao in April and came across Cesario's at the Save More supermarket. My husband bought one crispy
        garlic amd two of the chili garlic oil. Bought them back here in Canada. My husband and eldest son loves them! We're
        now running low on the crispy garlic. We should have brought back more!!!"
      </p>
    </div>
    <div>

    </div>
  </div>
  
</div>
