.reviews-container{
    padding: 50px 0;
}

h1 {
    padding-bottom: 30px;
}

.bg-body2 {
    background-image: url("../../assets/images/bg-body2.jpg");
    background-color: #cccccc;  
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
    width: 100%;          
}

span {
    color: #70110D;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

p {      
    color: #70110D;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;   
    padding: 20px 100px; 
}